{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}CSV Mapper{% endblock %}</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark navbar-expand-lg text-light">
        <div class="container">
            <a class="navbar-brand" href="#">CSV Mapper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto list-unstyled">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Graphs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CSV Sources</a>
                    </li>
                </ul>
                <div class="nav-profile d-flex align-items-center justify-content-center">
                    <div class="grid text-end">
                        <div class="row">
                            <span class="col profile-username">{{username}}</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="profile-option" href="/account/change_password">Change Password</a>
                                <div class="vr" style="min-height: 0.5em; color: #fff; opacity: 0.5;"></div>
                                <a class="profile-option" href="/account/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                    <img class="profile-img" src="{% static 'img/profile.png' %}"/>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    {% if messages %}
    <div id="messages">
        <ul class="message-list">
            {% for message in messages %}
            <li class="message-item{% if message.tags %} {{ message.tags }}{% endif %}">
                {{message}}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>