{% extends 'base.html' %} {% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div id="graph-grid" class="r-grid">
        <div class="r-grid-item p-4 bg-white rounded shadow">
            <h1>Dashboard</h1>
            <p>The dashboard contains a low-detail live overview of each graph. To view a more detailed view of a graph, simply click the graph to expand it.</p>
        </div>
    </div>
</div>
{% csrf_token %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    charts = {};
    async function updateGrid() {
        const graphResponse = await queryApi('/api/graph/');
        grid = $('#graph-grid');
        if (graphResponse.result == 'error') {
            grid.empty().append(
                $('<div>')
                    .addClass('r-grid-item p-4 bg-danger rounded shadow')
                    .append(
                        $('<h1>').text('Error'),
                        $('<hr>'),
                        $('<p>').text(`Failed to update grid: ${graphResponse.message}`)
                    )
            );
        } else {
            $.each(graphResponse.data, async function(index, graph) {
                await new Promise(resolve => setTimeout(resolve, index * 500));
                const graphDataResponse = await queryApi(`/api/graph/${graph.id}/data/`);
                var graphDiv = $(`#graph_${index}`);
                const isNew = graphDiv.length == 0;
                if (isNew) {
                    const canvas = $('<canvas>').attr('id', `graph_${index}_chart`).hide();
                    graphDiv = $('<div>')
                        .attr('id', `graph_${index}`)
                        .addClass('r-grid-item p-4 bg-white rounded shadow fade-in')
                        .append(
                            $('<h1>').attr('id', `graph_${index}_title`).text('Loading'),
                            $('<p>').attr('id', `graph_${index}_description`).hide(),
                            $('<p>').attr('id', `graph_${index}_error`).addClass('text-danger').hide(),
                            $('<div>').addClass('graph-container').append(canvas)
                        );
                    charts[index] = new Chart(canvas, {})
                    grid.append(graphDiv);
                }
                if (graphResponse.result == 'error') {
                    $(`#graph_${index}_title`).text(`Failed to Load: ${graph.name}`).show();
                    $(`#graph_${index}_description`).hide();
                    $(`#graph_${index}_error`).text(graphResponse.message).show();
                } else {
                    $(`#graph_${index}_title`).text(graph.name).show();
                    $(`#graph_${index}_description`).text(graph.description).show();
                    $(`#graph_${index}_error`).hide();
                    const graphData = graphDataResponse.data;
                    if (graphData != undefined) {
                        const datasetCount = graphData.data.datasets.length;
                        chart = charts[index];
                        chart.data = graphData.data;
                        if (!isNew) {
                            graphData.options['animation'] = { duration: 0 };
                        }
                        graphData.options['maintainAspectRatio'] = false;
                        var pluginOptions = graphData.options['plugins'];
                        if (pluginOptions == null) {
                            pluginOptions = {};
                            graphData.options['plugins'] = pluginOptions;
                        }
                        pluginOptions['legend'] = { display: datasetCount > 1 };
                        pluginOptions['tooltip'] = { enabled: datasetCount > 0 && graphData.data.datasets[0].data.length <= 2500 };
                        chart.options = graphData.options;
                        $(`#graph_${index}_chart`).show();
                        chart.update();
                    } else {
                        $(`#graph_${index}_error`).text("Failed to load.").show();
                    }
                }
            });
            // TODO: Remove old charts here
        }
    }
    updateGrid()
    setInterval(updateGrid, 20000);
</script>
{% endblock %}