{% extends 'base.html' %} {% block title %}Graphs{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Graphs</h1>
            <p class="mb-0">View{% if perms.api.change_graph or perms.api.add_graph or perms.api.delete_graph %} and manage{% endif %} graphs.</p>
        </div>
        {% if perms.api.add_graph %}
        <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-primary rounded-pill shadow fw-bold" data-bs-toggle="modal" data-bs-target="#create-graph-modal">Create Graph</button>
        </div>
        {% endif %}
    </div>
    <div class="table-responsive shadow-sm rounded mt-5 mb-5">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col" class="min-width-column">Display Name</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="fit">Actions</th>
                </tr>
            </thead>
            <tbody id="graph-table"></tbody>
        </table>
        {% csrf_token %}
    </div>
</div>
<script>
    async function updateGraphs() {
        try {
            const response = await fetch('/api/graph');
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const data = await response.json();
            const tableBody = $('#graph-table');
            tableBody.empty();
            $.each(data.data, function(index, entry) {
                tableBody.append(
                    $('<tr>').append(
                        $('<td>').text(entry.name),
                        $('<td>').text(entry.description),
                        $('<td>').addClass('fit').append(
                            $('<div>')
                                .addClass('table-action-buttons')
                                {% if perms.api.view_graph %}
                                .append(
                                    $('<button>')
                                        .addClass('btn btn-primary rounded-pill fw-bold')
                                        .attr('data-bs-toggle', 'modal')
                                        .attr('data-bs-target', '#inspect-graph-modal')
                                        .attr('onclick', `setInspectModalInfo(${entry.id}, "${entry.name}")`)
                                        .text('Inspect')
                                )
                                {% endif %}
                                {% if perms.api.change_graph %}
                                .append(
                                    $('<button>')
                                        .addClass('btn btn-primary rounded-pill fw-bold')
                                        .attr('data-bs-toggle', 'modal')
                                        .attr('data-bs-target', '#edit-graph-modal')
                                        .attr('onclick', `setEditModalInfo(${entry.id})`)
                                        .text('Edit')
                                        )
                                        {% endif %}
                                        {% if perms.api.delete_graph %}
                                        .append(
                                    $('<button>')
                                        .addClass('btn btn-danger rounded-pill fw-bold')
                                        .attr('data-bs-toggle', 'modal')
                                        .attr('data-bs-target', '#delete-graph-modal')
                                        .attr('onclick', `setDeleteModalInfo(${entry.id}, "${entry.name}")`)
                                        .text('Delete')
                                )
                                {% endif %}
                        )
                    )
                );
            });
        } catch (error) {
            console.error('Error fetching data: ', error);
        }
    }
    updateGraphs();
</script>
{% if perms.api.add_graph %}
<div id="create-graph-modal" class="modal fade" tabindex="-1" aria-labelledby="create-graph-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="create-graph-label" class="modal-title">Create Graph</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-graph-form">
                    <div class="mb-3">
                        <label for="create-graph-name" class="form-label">Display Name</label>
                        <input id="create-graph-name" name="name" type="text" class="form-control" aria-describedby="create-graph-name-help"/>
                        <div id="create-graph-name-help" class="form-text">Use an easy-to-read, memorable, and descriptive name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="create-ource-description" class="form-label">Description</label>
                        <textarea id="create-graph-description" name="description" rows="3" class="form-control" aria-describedby="create-graph-description-help"></textarea>
                        <div id="create-graph-description-help" class="form-text">A short description of the graph.</div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="submitCreateGraphForm()">Create Graph</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    async function submitCreateGraphForm() {
        const formData = $('#create-graph-form').serializeArray();
        formDataJson = {};
        $.each(formData, function(index, field) {
            formDataJson[field.name] = field.value;
        });
        formDataJson['has_header'] = formDataJson['has_header'] == 'on'
        try {
            const response = await fetch('/api/graph/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
                body: JSON.stringify(formDataJson)
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const responseData = await response.json();
            await updateGraphs();
            $('#create-graph-modal').modal('hide');
        } catch (error) {
            console.error('Error submitting form: ', error);
        }
    }
</script>
{% endif %}
{% if perms.api.view_graph %}
<div id="inspect-graph-modal" class="modal fade" tabindex="-1" aria-labelledby="inspect-graph-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 id="inspect-graph-label" class="modal-title fw-bold"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="inspect-graph-error" class="text-danger" style="display: none;"></p>
                <canvas id="inspect-graph-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const context = $('#inspect-graph-canvas');
    const chart = new Chart(context, {});
    async function setInspectModalInfo(id, name) {
        $('#inspect-graph-error').hide();
        $('#inspect-graph-graph-id').val(id);
        $('#inspect-graph-label').text(name);
        $('#inspect-graph-location').text(location);
        chart.data = {}; chart.options = {}; chart.update();
        const tableHead = $('#inspect-graph-thead')
        tableHead.empty();
        const tableBody = $('#inspect-graph-tbody');
        tableBody.empty();
        try {
            const response = await fetch(`/api/graph/${id}/data/`);
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                console.error(jsonResponse.message);
                $('#inspect-graph-error').text(jsonResponse.message).show();
            } else {
                chartData = jsonResponse.data;
                chart.data = chartData.data;
                chart.options = chartData.options;
                chart.update();
            }
        } catch (error) {
            console.error(error);
            $('#inspect-graph-error').text(error).show();
        }
    }
</script>
{% endif %}
{% if perms.api.change_graph %}
<div id="edit-graph-modal" class="modal fade" tabindex="-1" aria-labelledby="edit-graph-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="edit-graph-label" class="modal-title">Edit Graph</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-graph-form">
                    <div class="mb-3">
                        <label for="edit-graph-name" class="form-label">Display Name</label>
                        <input id="edit-graph-name" name="name" type="text" class="form-control" aria-describedby="edit-graph-name-help"/>
                        <div id="edit-graph-name-help" class="form-text">Use an easy-to-read, memorable, and descriptive name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="edit-graph-description" class="form-label">Description</label>
                        <textarea id="edit-graph-description" name="description" rows="3" class="form-control" aria-describedby="edit-graph-description-help"></textarea>
                        <div id="edit-graph-description-help" class="form-text">A short description of the graph.</div>
                    </div>
                    <button id="edit-graph-submit-button" type="button" class="btn btn-primary rounded-pill" onclick="submitEditGraphForm()">Update Graph Info</button>
                    <p id="edit-graph-error" class="text-danger mt-2" style="display: none;"></p>
                    <p id="edit-graph-success" class="text-success mt-2" style="display: none;"></p>
                </form>
                <hr />
                {% if perms.api.view_graph_dataset %}
                <div class="row">
                    <div class="col">
                        <h5>Datasets</h5>
                        <p>View{% if perms.api.change_graph_dataset or perms.api.add_graph_dataset or perms.api.delete_graph_dataset %} and manage{% endif %} graph datasets</p>
                        <div class="table-responsive" style="max-height: 800px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Dataset</th>
                                        <th scope="col" class="fit">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="edit-graph-dataset-table"></tbody>
                            </table>
                        </div>
                    </div>
                    {% if perms.api.change_graph_dataset or perms.api.add_graph_dataset %}
                    <div class="col">
                        <form id="edit-graph-datasets">
                            <div class="mb-3">
                                <label for="edit-graph-dataset-label">Dataset Label</label>
                                <input id="edit-graph-dataset-label" name="name" type="text" class="form-control" aria-describedby="edit-graph-dataset-label-help"/>
                                <div id="edit-graph-dataset-label-help" class="form-text">Display name for the dataset.</div>
                            </div>
                            <div class="mb-3">
                                <label for="edit-graph-dataset-plot" class="form-label">Dataset Plot</label>
                                <select id="edit-graph-dataset-plot" name="plot_type" class="form-select" aria-describedby="edit-graph-dataset-plot-help">
                                    <option value="none">None</option>
                                    <option value="axis">Axis</option>
                                    <option value="line">Line</option>
                                    <option value="bar">Bar</option>
                                </select>
                                <div id="edit-graph-dataset-plot-help" class="form-text">Type of plot to use for the dataset.</div>
                            </div>
                            <div class="mb-3">
                                <label for="edit-graph-dataset-source" class="form-label">Dataset Source</label>
                                <select id="edit-graph-dataset-source" name="plot_type" class="form-select" onchange="updateSourceColumns()" aria-describedby="edit-graph-dataset-source-help"></select>
                                <div id="edit-graph-dataset-source-help" class="form-text">Source that contains the dataset.</div>
                            </div>
                            <div class="mb-3">
                                <label for="edit-graph-dataset-source-column" class="form-label">Source Column</label>
                                <select id="edit-graph-dataset-source-column" name="plot_type" class="form-select" aria-describedby="edit-graph-dataset-source-column-help"></select>
                                <div id="edit-graph-dataset-source-column-help" class="form-text">Column within the source that contains the database.</div>
                            </div>
                            <button id="edit-graph-dataset-submit-button" type="button" class="btn btn-primary rounded-pill" onclick="" style="display: none;"></button>
                            <button id="edit-graph-dataset-cancel-button" type="button" class="btn btn-secondary rounded-pill" onclick="" style="display: none;">Cancel</button>
                            <p id="edit-graph-dataset-error" class="text-danger mt-2" style="display: none;"></p>
                            <p id="edit-graph-dataset-success" class="text-success mt-2" style="display: none;"></p>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if perms.api.delete_graphdataset %}
<div id="delete-graph-dataset-modal" class="modal fade" tabindex="-1" aria-labelledby="delete-graph-dataset-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 id="delete-graph-dataset-label" class="modal-title fw-bold">Delete Dataset</h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="cancelDeleteGraphDataset()"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete the <span id="delete-graph-dataset-name" class="text-danger"></span> dataset?</p>
                <form id="delete-graph-dataset-form">
                    <button id="delete-graph-dataset-modal-button" type="button" class="btn btn-danger" onclick="">Delete Dataset</button>
                    <button type="button" class="btn btn-secondary" aria-label="Cancel" onclick="cancelDeleteGraphDataset()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    async function setEditModalInfo(graphId) {
        $('#edit-graph-error').hide();
        $('#edit-graph-success').hide();
        $('#edit-graph-name').val('');
        $('#edit-graph-description').val('');
        $('#edit-graph-submit-button').attr('onclick', `submitEditGraphForm(${graphId})`);
        $('#edit-graph-dataset-table').empty();
        clearGraphDatasetEditor();
        {% if perms.api.add_graphdataset %}
        await showAddGraphDatasetEditor(graphId);
        {% endif %}
        try {
            const response = await fetch(`/api/graph/${graphId}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                }
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-error').text(jsonResponse.message).show();
            } else {
                const graph = jsonResponse.data;
                $('#edit-graph-name').val(graph.name);
                $('#edit-graph-description').val(graph.description);
            }
        } catch (error) {
            console.error('Error fetching graph data: ', error);
        }
        await updateGraphDatasetTable(graphId);
    }
    async function submitEditGraphForm(graphId) {
        $('#edit-graph-error').hide();
        const formData = $('#edit-graph-form').serializeArray();
        formDataJson = {};
        $.each(formData, function(index, field) {
            formDataJson[field.name] = field.value;
        });
        formDataJson['has_header'] = formDataJson['has_header'] == 'on'
        try {
            const response = await fetch(`/api/graph/${graphId}/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
                body: JSON.stringify(formDataJson)
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-error').text(jsonResponse.message).show();
            } else {
                await updateGraphs();
                $('#edit-graph-success').text('Updated graph successfully.').show();
            }
        } catch (error) {
            console.error('Error submitting form: ', error);
            $('#edit-graph-error').text(error).show();
        }
    }
    async function updateGraphDatasetTable(graphId) {
        $('#edit-graph-dataset-table').empty();
        try {
            const response = await fetch(`/api/graph/${graphId}/dataset/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                }
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                var tableBody = $('#edit-graph-dataset-table');
                $.each(jsonResponse.data, function(index, entry) {
                    tableBody.append(
                        $('<tr>').append(
                            $('<td>').text(entry.label),
                            $('<td>').addClass('fit').append(
                                $('<div>')
                                    .addClass('table-action-buttons')
                                    {% if perms.api.change_graphdataset %}
                                    .append(
                                        $('<button>')
                                            .addClass('btn btn-primary rounded-pill fw-bold')
                                            .attr('onclick', `editGraphDataSet(${graphId}, ${entry.id})`)
                                            .text('Edit')
                                    )
                                    {% endif %}
                                    {% if perms.api.delete_graphdataset %}
                                    .append(
                                        $('<button>')
                                            .addClass('btn btn-danger rounded-pill fw-bold')
                                            .attr('onclick', `deleteGraphDataSetConfirm(${graphId}, ${entry.id}, '${entry.label}')`)
                                            .text('Delete')
                                    )
                                    {% endif %}
                            )
                        )
                    )
                });
            }
        } catch (error) {
            console.error('Error fetching dataset data: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
    }
    {% if perms.api.add_graphdataset or perms.api.change_graphdataset %}
    function clearGraphDatasetEditor() {
        $('#edit-graph-dataset-error').hide();
        $('#edit-graph-dataset-success').hide();
        $('#edit-graph-dataset-label').val('');
        $('#edit-graph-dataset-plot').val('none');
        $('#edit-graph-dataset-source').empty().val('');
        $('#edit-graph-dataset-source-column').empty().val('');
        $('#edit-graph-dataset-is-axis').prop('checked', false)
        $('#edit-graph-dataset-submit-button').hide();
        $('#edit-graph-dataset-cancel-button').hide();
    }
    function showGraphDatasetButton(text, onclick) {
        $('#edit-graph-dataset-submit-button').attr('onclick', onclick).text(text).show();
    }
    async function updateGraphDatasetEditor() {
        $('#edit-graph-dataset-error').hide();
        $('#edit-graph-dataset-success').hide();
        {% if perms.api.view_source %}
        const sources = $('#edit-graph-dataset-source').empty().val('');
        const sourceColumns = $('#edit-graph-dataset-source-column').empty().val('');
        try {
            const response = await fetch('/api/source/', {
                method: 'GET',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                }
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                const data = jsonResponse.data;
                if (data.length > 0) {
                    $.each(data, function(index, source) {
                        sources.append(
                            $('<option>').val(source.id).text(source.name)
                        );
                    });
                    const default_source = data[0].id;
                    sources.val(default_source);
                    await updateSourceColumns();
                }
            }
        } catch (error) {
            console.error('Error fetching dataset data: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
        {% endif %}
    }
    async function updateSourceColumns() {
        const sourceColumns = $('#edit-graph-dataset-source-column').empty().val('');
        {% if perms.api.view_source %}
        const selectedSource = $('#edit-graph-dataset-source').find(":selected").val();
        try {
            const response = await fetch(`/api/source/${selectedSource}/data/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                }
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                const data = jsonResponse.data;
                $.each(data, function(index, column) {
                    sourceColumns.append(
                        $('<option>').val(index).text(column.name != null ? column.name : `Column ${index}`)
                    );
                });
            }
        } catch (error) {
            console.error('Error fetching dataset data: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
        {% endif %}
    }
    {% endif %}
    {% if perms.api.add_graphdataset %}
    async function showAddGraphDatasetEditor(graphId) {
        clearGraphDatasetEditor();
        await updateGraphDatasetEditor();
        showGraphDatasetButton('Add Dataset', `submitAddGraphDataSet(${graphId})`);
    }
    async function submitAddGraphDataSet(graphId, datasetId) {
        const datasetPlot = $('#edit-graph-dataset-plot').val();
        const isAxis = datasetPlot == 'axis';
        const requestBody = {
            label: $('#edit-graph-dataset-label').val(),
            plot_type: isAxis ? 'none' : datasetPlot,
            is_axis: isAxis,
            source_id: parseInt($('#edit-graph-dataset-source').val()),
            column_id: parseInt($('#edit-graph-dataset-source-column').val())
        }
        try {
            const response = await fetch(`/api/graph/${graphId}/dataset/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
                body: JSON.stringify(requestBody)
            });
            const jsonResponse = await response.json();
            if (!response.ok) {
                console.error(jsonResponse.message);
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                await showAddGraphDatasetEditor(graphId)
                $('#edit-graph-dataset-success').text('Successfully created dataset.').show();
            }
            await updateGraphDatasetTable(graphId);
        } catch (error) {
            console.error('Error submitting form: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
    }
    {% endif %}
    {% if perms.api.edit_graphdataset %}
    async function cancelGraphDatasetEditor(graphId) {
        clearGraphDatasetEditor();
        {% if perms.api.add_graphdataset %}
        await showAddGraphDatasetEditor(graphId);
        {% endif %}
    }
    async function editGraphDataSet(graphId, datasetId) {
        clearGraphDatasetEditor();
        await updateGraphDatasetEditor();
        try {
            const response = await fetch(`/api/graph/${graphId}/dataset/${datasetId}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                }
            });
            const jsonResponse = await response.json();
            if (jsonResponse.result != 'success') {
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                const data = jsonResponse.data;
                $('#edit-graph-dataset-label').val(data.label).focus();
                $('#edit-graph-dataset-plot').val(data.is_axis ? "axis" : data.plot_type);
                $('#edit-graph-dataset-source').val(data.source_id);
                $('#edit-graph-dataset-source-column').val(data.column_id);
                showGraphDatasetButton('Update Dataset', `submitEditGraphDataSet(${graphId}, ${datasetId})`);
                $('#edit-graph-dataset-cancel-button').attr('onclick', `cancelGraphDatasetEditor(${graphId})`).show();
            }
        } catch (error) {
            console.error('Error fetching dataset data: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
    }
    async function submitEditGraphDataSet(graphId, datasetId) {
        const datasetPlot = $('#edit-graph-dataset-plot').val();
        const isAxis = datasetPlot == 'axis';
        const requestBody = {
            label: $('#edit-graph-dataset-label').val(),
            plot_type: isAxis ? 'none' : datasetPlot,
            is_axis: isAxis,
            source_id: parseInt($('#edit-graph-dataset-source').val()),
            column_id: parseInt($('#edit-graph-dataset-source-column').val())
        }
        try {
            const response = await fetch(`/api/graph/${graphId}/dataset/${datasetId}/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
                body: JSON.stringify(requestBody)
            });
            const jsonResponse = await response.json();
            if (!response.ok) {
                console.error(jsonResponse.message);
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                {% if perms.api.add_graphdataset %}
                await showAddGraphDatasetEditor()
                {% else %}
                clearGraphDatasetEditor();
                await updateGraphDatasetEditor();
                {% endif %}
                $('#edit-graph-dataset-success').text('Successfully updated dataset.').show();
            }
            await updateGraphDatasetTable(graphId);
        } catch (error) {
            console.error('Error submitting form: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
    }
    {% endif %}
    {% if perms.api.delete_graphdataset %}
    async function deleteGraphDataSetConfirm(graphId, datasetId, dataset_label) {
        $('#delete-graph-dataset-name').text(dataset_label);
        $('#delete-graph-dataset-modal-button').attr('onclick', `deleteGraphDataSet(${graphId}, ${datasetId})`)
        $('#edit-graph-modal').modal('hide');
        $('#delete-graph-dataset-modal').modal('show');
    }
    async function deleteGraphDataSet(graphId, datasetId) {
        try {
            const response = await fetch(`/api/graph/${graphId}/dataset/${datasetId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
            });
            const jsonResponse = await response.json();
            if (!response.ok) {
                console.error(jsonResponse.message);
                $('#edit-graph-dataset-error').text(jsonResponse.message).show();
            } else {
                $('#edit-graph-dataset-success').text('Successfully deleted dataset.').show();
            }
            await updateGraphDatasetTable(graphId);
        } catch (error) {
            console.error('Error submitting form: ', error);
            $('#edit-graph-dataset-error').text(error).show();
        }
        cancelDeleteGraphDataset();
    }
    function cancelDeleteGraphDataset() {
        $('#delete-graph-dataset-modal').modal('hide');
        $('#edit-graph-modal').modal('show');
    }
    {% endif %}
</script>
{% endif %}
{% if perms.api.delete_graph %}
<div id="delete-graph-modal" class="modal fade" tabindex="-1" aria-labelledby="delete-graph-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 id="delete-graph-label" class="modal-title fw-bold">Delete Graph</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete <span id="delete-graph-graph-name" class="text-danger">this graph</span>?</p>
                <form id="delete-graph-form">
                    <input id="delete-graph-graph-id" name="graphId" type="hidden"/>
                    <button type="button" class="btn btn-danger" onclick="submitDeleteGraphForm()">Delete Graph</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function setDeleteModalInfo(id, name) {
        $('#delete-graph-graph-id').val(id);
        $('#delete-graph-graph-name').text(name);
    }
    async function submitDeleteGraphForm() {
        const formData = $('#delete-graph-form').serializeArray();
        const graphId = formData[0].value;
        try {
            const response = await fetch(`/api/graph/${graphId}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                },
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const responseData = await response.json();
            await updateGraphs();
            $('#delete-graph-modal').modal('hide');
        } catch (error) {
            console.error('Error submitting form: ', error);
        }
    }
</script>
{% endif %}
{% endblock %}