{% extends 'base.html' %} {% block title %}Sources{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Sources</h1>
            <p class="mb-0">View{% if perms.api.change_datasourcemodel or perms.api.add_datasourcemodel or perms.api.delete_datasourcemodel %} and manage{% endif %} CSV sources. These are used to supply data to graphs.</p>
        </div>
        {% if perms.api.add_datasourcemodel %}
        <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-primary rounded-pill shadow fw-bold" data-bs-toggle="modal" data-bs-target="#create-source-modal">Create Source</button>
        </div>
        {% endif %}

    </div>
    <div class="table-responsive shadow-sm rounded mt-5 mb-5">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Location</th>
                    <th scope="col" class="fit">Actions</th>
                </tr>
            </thead>
            <tbody id="source-table">
                
            </tbody>
        </table>
        <script>
            async function updateSources() {
                try {
                    const response = await fetch('/api/source');
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    const data = await response.json();
                    const tableBody = $('#source-table');
                    tableBody.empty();
                    $.each(data.data, function(index, entry) {
                        tableBody.append(
                            $('<tr>').append(
                                $('<td>').text(entry.id),
                                $('<td>').text(entry.name),
                                $('<td>').text(entry.location),
                                $('<td>').addClass('fit').append(
                                    $('<div>')
                                        .addClass('table-action-buttons')
                                        {% if perms.api.view_datasourcemodel %}
                                        .append(
                                            $('<button>')
                                                .addClass('btn btn-primary rounded-pill fw-bold')
                                                .attr('data-bs-toggle', 'modal')
                                                .attr('data-bs-target', '#inspect-source-modal')
                                                .text('Inspect')
                                        )
                                        {% endif %}
                                        {% if perms.api.change_datasourcemodel %}
                                        .append(
                                            $('<button>')
                                                .addClass('btn btn-primary rounded-pill fw-bold')
                                                .attr('data-bs-toggle', 'modal')
                                                .attr('data-bs-target', '#edit-source-modal')
                                                .text('Edit')
                                                )
                                                {% endif %}
                                                {% if perms.api.delete_datasourcemodel %}
                                                .append(
                                            $('<button>')
                                                .addClass('btn btn-danger rounded-pill fw-bold')
                                                .attr('data-bs-toggle', 'modal')
                                                .attr('data-bs-target', '#delete-source-modal')
                                                .attr('onclick', `setDeleteModalInfo(${entry.id}, "${entry.name}")`)
                                                .text('Delete')
                                        )
                                        {% endif %}
                                )
                            )
                        );
                    });
                } catch (error) {
                    console.error('Error fetching data: ', error);
                }
            }
            updateSources();
        </script>
        {% if perms.api.add_datasourcemodel %}
        <div id="create-source-modal" class="modal fade" tabindex="-1" aria-labelledby="create-source-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="create-source-label" class="modal-title">Create Source</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="create-source-form">
                            <div class="mb-3">
                                <label for="source-name" class="form-label">Display Name</label>
                                <input id="source-name" name="source_name" type="text" class="form-control" aria-describedby="source-name-help"/>
                                <div id="source-name-help" class="form-text">Use an easy-to-read, memorable, and descriptive name.</div>
                            </div>
                            <div class="mb-3">
                                <label for="source-location" class="form-label">Location</label>
                                <input id="source-location" name="source_location" type="url" class="form-control" aria-describedby="source-location-help"/>
                                <div id="source-location-help" class="form-text">Use a URL to the source. For example: file://example/csv/simple_data.csv</div>
                            </div>
                            {% csrf_token %}
                            <button type="button" class="btn btn-primary" onclick="submitCreateSourceForm()">Create Source</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            async function submitCreateSourceForm() {
                const formData = $('#create-source-form').serializeArray();
                formDataJson = {};
                $.each(formData, function(index, field) {
                    formDataJson[field.name] = field.value;
                });
                try {
                    const response = await fetch('/api/source/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]')[0].value
                        },
                        body: JSON.stringify(formDataJson)
                    });
    
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
    
                    const responseData = await response.json();
    
                    await updateSources();
    
                    $('#create-source-modal').modal('hide');
                } catch (error) {
                    console.error('Error submitting form: ', error);
                }
            }
        </script>
        {% endif %}
        {% if perms.api.view_datasourcemodel %}
        {% endif %}
        {% if perms.api.change_datasourcemodel %}
        {% endif %}
        {% if perms.api.delete_datasourcemodel %}
        <div id="delete-source-modal" class="modal fade" tabindex="-1" aria-labelledby="delete-source-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 id="delete-source-label" class="modal-title fw-bold">Delete Source</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure that you want to delete <span id="delete-source-source-name" class="text-danger">this source</span>?</p>
                        <form id="delete-source-form">
                            <input id="delete-source-source-id" name="source_id" type="hidden"/>
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger" onclick="submitDeleteSourceForm()">Delete Source</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function setDeleteModalInfo(id, name) {
                $('#delete-source-source-id').val(id);
                $('#delete-source-source-name').text(name);
            }
            async function submitDeleteSourceForm() {
                const formData = $('#delete-source-form').serializeArray();
                const sourceId = formData[0].value;
                const csrfToken = formData[1].value;
                try {
                    const response = await fetch(`/api/source/${sourceId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                    });
    
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
    
                    const responseData = await response.json();
    
                    await updateSources();
    
                    $('#delete-source-modal').modal('hide');
                } catch (error) {
                    console.error('Error submitting form: ', error);
                }
            }
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}