{% extends 'base.html' %} {% block title %}Sources{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex align-items-center">
            <h1>Sources</h1>
        </div>
        {% if user.is_staff %}
        <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-primary rounded-pill shadow text-white text-decoration-none fw-bold" data-bs-toggle="modal" data-bs-target="#create-source-modal">Create Source</button>
        </div>
        {% endif %}

    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Display Name</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody id="source-table">
            
        </tbody>
    </table>
    <script>
        async function updateSources() {
            try {
                const response = await fetch('/api/source');
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                const tableBody = $('#source-table');
                tableBody.empty();
                $.each(data.data, function(index, entry) {
                    var newRow = $('<tr>').append(
                        $('<td>').text(entry.id),
                        $('<td>').text(entry.name),
                        $('<td>').text(entry.location),
                    );
                    tableBody.append(newRow);
                });
            } catch (error) {
                console.error('Error fetching data: ', error);
            }
        }
        updateSources();
    </script>
    {% if user.is_staff %}
    <div id="create-source-modal" class="modal fade shadow" tabindex="-1" aria-labelledby="create-source-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="create-source-label" class="modal-title">Create Source</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="create-source-form">
                        <div class="mb-3">
                            <label for="source-name" class="form-label">Display Name</label>
                            <input id="source-name" name="source_name" type="text" class="form-control" aria-describedby="source-name-help"/>
                            <div id="source-name-help" class="form-text">Use an easy-to-read, memorable, and descriptive name.</div>
                        </div>
                        <div class="mb-3">
                            <label for="source-location" class="form-label">Location</label>
                            <input id="source-location" name="source_location" type="url" class="form-control" aria-describedby="source-location-help"/>
                            <div id="source-location-help" class="form-text">Use a URL to the source. For example: file://example/csv/simple_data.csv</div>
                        </div>
                        {% csrf_token %}
                        <button type="button" class="btn btn-primary" onclick="submitCreateSourceForm()">Create Source</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function submitCreateSourceForm() {
            const formData = new FormData(document.getElementById('create-source-form'));
            formDataJson = {};
            formData.forEach((value, key) => {
                formDataJson[key] = value;
            });
            try {
                const response = await fetch('/api/source/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    body: JSON.stringify(formDataJson)
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const responseData = await response.json();

                await updateSources();

                $('#create-source-modal').modal('hide');
            } catch (error) {
                console.error('Error submitting form: ', error);
            }
        }
    </script>
    {% endif %}
</div>
{% endblock %}