{% extends 'registration/base.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container" style="width: 25%; min-width: 700px">
    <div class="p-5 bg-white text-dark rounded shadow-lg">
        <h1 class="display-5 mb-2 fw-bold">Forgot Your Password?</h1>
        <p>This service does not use emails; therefore account passwords can only be reset by administrators.</p>
        <p>Please contact a site-admin.</p>
        <a class="text-primary" href="/account/login">Return to Login</a>
    </div>
</div>
{% endblock %}