{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="p-5 bg-white text-dark rounded shadow-lg">
        <h1 class="display-4 text-center mb-5">Register</h1>
        <form method="post">
            {% csrf_token %}{{form|crispy}}
            <p>Already have an account? Login <a href="/account/login">here</a>.</p>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}